// Neon Dark Theme for Zellij
// Based on the neon theme palette with vibrant saturated colors

themes {
    neon {
        bg "#0f0f0f"
        fg "#b4b4b4"
        red "#ff0064"
        green "#00ff64"
        blue "#00c8ff"
        yellow "#ff6400"
        magenta "#c800ff"
        orange "#ff6400"
        cyan "#00ff96"
        black "#000000"
        white "#ffffff"
    }
}

ui {
    pane_frames {
        rounded_corners true
        hide_session_name false
    }
}

// Text colors
text_unselected {
    fg 180 180 180
    bg 15 15 15
    bold 120 120 120
    italic 140 140 140
    underline 160 160 160
    strikethrough 100 100 100
}

text_selected {
    fg 255 255 255
    bg 25 25 25
    bold 200 200 200
    italic 220 220 220
    underline 240 240 240
    strikethrough 180 180 180
}

// Ribbon colors
ribbon_selected {
    fg 0 0 0
    bg 0 255 150
    bold 20 20 20
    italic 40 40 40
    underline 60 60 60
    strikethrough 80 80 80
}

ribbon_unselected {
    fg 140 140 140
    bg 35 35 35
    bold 100 100 100
    italic 160 160 160
    underline 120 120 120
    strikethrough 80 80 80
}

// UI element colors
frame_selected 0 255 150
frame_highlight 0 200 255
success 0 255 100
error 255 0 100

// Multiplayer user colors
user_color_1 0 200 255    // cyan
user_color_2 255 100 0    // orange
user_color_3 0 255 100    // green
user_color_4 255 0 200    // pink
user_color_5 200 0 255    // purple
user_color_6 255 255 0    // yellow
user_color_7 0 255 255    // cyan
user_color_8 255 0 100    // red-pink
user_color_9 100 255 0    // lime
user_color_10 255 150 0   // orange