version: "3.8"

services:
  # Indexer Manager - handles all torrent/usenet indexers
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/prowlarr:/config
    ports:
      - "6969:6969"
    restart: unless-stopped
    networks:
      - media

  # Movie Automation
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/radarr:/config
      - ${MEDIA_PATH}:/media
    ports:
      - "7878:7878"
    restart: unless-stopped
    networks:
      - media
    depends_on:
      - prowlarr
      - qbittorrent

  # TV Show Automation
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/sonarr:/config
      - ${MEDIA_PATH}:/media
    ports:
      - "8989:8989"
    restart: unless-stopped
    networks:
      - media
    depends_on:
      - prowlarr
      - qbittorrent

  # Torrent Client
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-America/Toronto}
      - WEBUI_PORT=6881
    volumes:
      - ./config/qbittorrent:/config
      - ${MEDIA_PATH}:/media
    ports:
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped
    networks:
      - media

networks:
  media:
    driver: bridge
